/*Font color*/
$grey_font:     #707070;
$black_font:    #383838;
$red_font:      #E2110B;
$section_title: #292929;
$product_title: #1C1C1C;
/*Section color*/
$grey_section:  #F7F7F7;
$red_section:   #E2110B;