.cart__section{
    width: 100%;
    max-width: 1240px;
    margin: 30px auto 0;
    .cart__table{
        width: 100%;
        display: block!important;
        margin: 0!important;
        border: none!important;
        tbody{
            width: 100%;
            display: block;
            td{
                border: none!important;
                &.actions{
                    padding: 0!important;
                    .coupon{
                        .input-text{
                            max-width: 150px;
                            width: 100%;
                            height: 44px;
                            text-align: center;
                            border: 1px solid #EBEBEB;
                            margin-right: 20px;
                        }
                    }
                    .update__cart{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .cart_totals{
        width: 100%;
        max-width: 350px;
        margin: 30px 0 40px;
        table{
            th{
                padding: 5px 20px;
                vertical-align: middle!important;
            }
            td{
                padding: 5px 20px;
                vertical-align: middle!important;
                text-align: right;
            }
        }
    }
    .cart__item{
        width: 100%;
        height: 200px;
        margin: 20px 0;
        padding: 13px 80px 13px 33px;
        border: 2px solid #EBEBEB;
        border-radius: 8px;
        position: relative;
        display: block;

        .image{
            width: 15%;
            height: 100%;
            float: left;
            padding: 0 10px;
            position: relative;
            img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        .information{
            width: 40%;
            height: 100%;
            float: left;
            display: block;
            position: relative;
            padding: 0;
            .details__row{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                padding: 10px 20px;
            }
            a{
                color: $black_font;
                h4{
                    line-height: 32px;
                    font-size: 24px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
                &:hover{
                    text-decoration: none;
                    color: $red_font;
                }
            }
            dl.variation{
                margin-top: 10px;
                dt,
                dd p{
                    font-family: Circe;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                }

            }
            .article{
                font-size: 18px;
                color: $grey_font;
            }
            .variation{
                margin-top: 45px;
                .attr{
                    display: inline-block;
                    span{
                        display: inline-block;
                        float: left;
                    }
                    .text{
                        font-size: 18px;
                        color: $grey_font;
                        margin-right: 9px;
                    }
                    &.color{
                        margin-right: 28px;
                        .value{
                            width: 19px;
                            height: 19px;
                            border-radius: 50%;
                            margin: 3px 0 0 0;
                            float: left;
                        }
                    }
                    &.size{
                        font-size: 18px;
                        color: $grey_font;
                    }
                }
            }
        }
        .product__amount{
            width: 17%;
            height: 100%;
            position: relative;
            float: left;
            .amount__block{
                width: 130px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                margin: 0;
            }
        }
        .price{
            width: 14%;
            height: 100%;
            position: relative;
            float: left;
            line-height: 30px;
            font-size: 24px;
            text-align: center;
            .price__row{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        td.remove{
            width: 27px;
            height: 27px;
            display: block;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 50px;
            padding: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            a{
                width: 27px;
                height: 27px;
                display: block;
                cursor: pointer;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                border-radius: 0!important;
                &::before,
                &::after{
                    content: '';
                    width: 23px;
                    height: 3px;
                    background-color: #B8B8B8;
                    display: block;
                    position: absolute;
                    left: 2px;
                    top: 12px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                &::before{
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                &::after{
                    -webkit-transform: rotate(225deg);
                    transform: rotate(225deg);
                }
                &:hover{
                    background-color: $red_font!important;
                    &::before,
                    &::after{
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .cart__summary{
        text-align: right;
        line-height: 33px;
        font-size: 30px;
        color: $product_title;
        margin: 40px 0 30px;
    }
    .checkout__form{
        width: 100%;
        max-width: 610px;
        float: right;
        margin-bottom: 50px;
        form{
            width: 100%;
            float: left;
        }
        .title{
            width: 100%;
            margin-bottom: 10px;
            img{
                float: left;
                margin: 0 8px 0 0;
            }
            h6{
                line-height: 24px;
                font-size: 18px;
                color: $product_title;
            }
        }
        .delivery__block{
            width: 50%;
            float: left;
            .fields__group{
                width: 100%;
                float: left;
                label{
                    width: 100%;
                    float: left;
                    position: relative;
                    cursor: pointer;
                }
                input[type="radio"]{
                    display: none;
                    &:checked{
                        ~ span{
                            width: 13px;
                            height: 13px;
                            background-color: $red_font;
                            border: none;
                            background-image: url(../images/checked.svg);
                        }
                    }
                }
                span{
                    width: 12px;
                    height: 12px;
                    display: block;
                    position: absolute;
                    border: 1px solid $grey_font;
                    border-radius: 50%;
                    top: 5px;
                    left: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .text{
                    font-size: 18px;
                    color: $grey_font;
                    padding-left: 20px;
                }
            }
        }
    }
}
.fill__form{
    width: 100%;
    float: left;
    .woocommerce-input-wrapper{
        width: 100%;
        float: left;
    }
    .title{
        width: 100%;
        margin-bottom: 10px;
        img{
            width: auto;
            float: left;
            margin: 0 8px 0 0;
            padding: 0;
        }
        h6{
            line-height: 24px;
            font-size: 18px;
            color: $product_title;
        }
    }
}
h6#order_review_heading{
    line-height: 24px;
    font-size: 18px;
    color: $product_title;
}
.woocommerce-billing-fields__field-wrapper{
    width: 100%;
    float: left;
    .field__group{
        width: 50%;
        float: left;
        margin: 10px 0!important;
        padding: 0 20px 0 0!important;
        position: relative;
        &.city ul{
            position: absolute;
            max-height: 200px;
            overflow-y: auto;
            float: left;
            left: 0;
            right: 20px;
            top: 100%;
            z-index: 10;
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: #fff;
            border: 1px solid #EBEBEB;
            li{
                width: 100%;
                float: left;
                padding: 2px 19px;
                color: #707070;
                font-size: 14px;
                cursor: pointer;
            }
        }
        &.hide__field{
            display: none;
        }
    }
    .select2-container{
        width: 100%!important;
    }
    .selection .select2-selection{
        height: 46px!important;
        border-radius: 5px!important;
        .select2-selection__rendered{
            line-height: 44px!important;
            height: 44px!important;
        }
        .select2-selection__arrow{
            height: 44px!important;
        }
    }
}
.woocommerce-additional-fields{
    .woocommerce-input-wrapper{
        width: 100%;
        float: left;
    }
    label{
        display: none!important;
    }
    textarea{
        width: 100%!important;
        height: 120px!important;
        margin: 6px 0!important;
        border-radius: 5px!important;
        padding: 10px 19px!important;
        border: 1px solid #EBEBEB!important;
        color: #707070!important;
        font-size: 14px!important;
        line-height: normal!important;
        width: 100%!important;
        outline: 0!important;
        box-sizing: border-box!important;
        resize: none;
    }
}
.woocommerce-account-fields{
    width: 100%;
    float: left;
    label{
        width: 100%;
        float: left;
        .input-checkbox{
            margin: 0px 5px 0 0!important;
        }
        span{
            color: $black_font;
            font-size: 14px;
        }
    }
}
.woocommerce-checkout{
    ul.order_details{
        margin-bottom: 30px;
        padding-left: 0;
        li{
            margin-bottom: 10px;
        }
    }
    #payment{
        background: transparent;
        border-radius: 0;
    }
}
.woocommerce table.shop_table{
    border: 1px solid #EBEBEB!important;
    &.cart{
        border-color: transparent!important;
    }
    th,
    td{
        font-size: 14px;
        padding: 9px 12px 6px;
    }
}
#billing_country_field,
#billing_nova_poshta_region_field,
#billing_nova_poshta_city_field,
#billing_nova_poshta_warehouse_field{
    padding-right: 20px;
}
.form-row{
    margin-bottom: 15px!important;
    label{
        font-size: 14px;
        margin-bottom: 0;
    }
}
#order_review{
    margin-top: 40px;
}
.woocommerce-checkout #payment{
    ul.payment_methods{
        padding: 0;
        border: none;
        label{
            margin-bottom: 0;
        }
    }
    div.form-row{
        padding: 20px 0 0;
    }
    .payment_method_cod{
        p{
            font-size: 16px;
        }
    }
}
.woocommerce-form-coupon{
    width: 100%;
    max-width: 640px;
    border: 1px solid #EBEBEB!important;
    border-radius: 5px!important;
    margin: 0 auto 40px!important;
    padding: 10px 20px!important;
    .field__row{
        width: 100%;
        max-width: 400px;
        float: left;
    }
    .button__row{
        float: left;
        margin-left: 20px!important;
    }
    p{
        font-size: 14px;
        line-height: 2;
        margin-bottom: 0;
    }
    .input-text{
        width: 100%;
        height: 46px;
        border-radius: 5px;
        padding: 0 19px;
        border: 1px solid #EBEBEB;
        color: #707070;
        font-size: 14px;
        line-height: normal;
        outline: 0;
        box-sizing: border-box;
    }
}
@include media-breakpoint-down(md){
    .cart__section {
        .cart__item {
            height: 170px;
            padding: 10px 50px 10px 15px;
            .information{
                width: 30%;
                a{
                    h4{
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
            .price{
                width: 18%;
                font-size: 20px;
                line-height: 26px;
            }
            .product__amount{
                width: 19%;
            }
            td.remove{
                right: 20px;
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
        background-color: transparent;
    }
    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before{
        font-size: 14px;
    }
    .cart__section {
        .cart__item {
            float: left;
            height: auto;
            padding: 20px 50px 20px 20px;
            .information{
                width: 100%;
                margin-bottom: 10px;
                .details__row{
                    width: 100%;
                    float: left;
                    position: static;
                    -webkit-transform: translate(0);
                    transform: translate(0);
                    padding: 0;
                    text-align: left;
                    h4{
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
            .price{
                width: 100%;
                padding: 0;
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 10px;
                .price__row{
                    position: static;
                    -webkit-transform: translate(0);
                    transform: translate(0);
                    clear: both;
                    text-align: left!important;
                }
            }
            .product__amount{
                width: 100%;
                float: left;
                padding: 0;
                margin-bottom: 30px;
                .amount__block{
                    position: static;
                    -webkit-transform: translate(0);
                    transform: translate(0);
                    clear: both;
                }
            }
            td.remove{
                right: 20px;
                top: 20px;
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }
        .cart__table tbody td.actions {
            .coupon{
                .input-text{
                    max-width: 100%;
                }
                button{
                    margin-top: 15px;
                }
            }
            .update__cart{
                margin-top: 25px;
            }
        }
    }
    .woocommerce-billing-fields__field-wrapper .field__group{
        width: 100%;
        padding: 0!important;
    }
    #billing_country_field,
    #billing_nova_poshta_city_field,
    #billing_nova_poshta_region_field,
    #billing_nova_poshta_warehouse_field{
        padding-right: 0;
    }
    #order_review_heading{
        margin-top: 40px;
    }
    #order_review{
        margin-top: 20px;
    }
    .woocommerce-form-coupon{
        .field__row{
            max-width: 100%;
        }
        .button__row{
            float: right;
        }
    }
    .woocommerce-account .woocommerce-MyAccount-content,
    .woocommerce-account .woocommerce-MyAccount-navigation{
        float: left;
    }
}
