/*Fonts*/
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraLight.eot');
    src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
        url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraLight.woff') format('woff'),
        url('../fonts/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Thin.eot');
    src: local('Circe Thin'), local('Circe-Thin'),
        url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Thin.woff') format('woff'),
        url('../fonts/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
        url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Light.woff') format('woff'),
        url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
        url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/*General*/
body{
    font-family: 'Circe';
    overflow-x: hidden;
    &.show__navigation{
        overflow: hidden;
    }
    &.load{
        overflow: hidden;
    }
}
a{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: $red_font;
}
img{
    max-width: 100%;
    height: auto;            
}
h1{
    line-height: 59px;
    font-size: 40px;
}
h2{
    line-height: 46px;
    font-size: 38px;    
}
h3{
    line-height: 59px;
    font-size: 35px;
}
h4{
    line-height: 40px;
    font-size: 30px;
}
h5{
    line-height: normal;
    font-size: 22px;
}
h6{
    line-height: 20px;
    font-size: 18px;
}
p{
    line-height: 24px;
    font-size: 18px;
    color: #707070;
    color: $grey_font;
}
.button,
.btn{
    border: 1px solid transparent!important;
    box-sizing: border-box!important;
    border-radius: 22px!important;
    padding: 0 30px!important;
    line-height: 42px!important;
    font-size: 18px!important;
    font-weight: 400!important;
    overflow: hidden!important;
    position: relative!important;
    background-color: transparent!important;
    &.medium{
        padding: 0 36px!important;
    }
    &.simple{
        height: 44px;
        color: #fff;
        &::before,
        &::after{
            display: none!important;
        }
        &:hover{
            color: $red_font!important;
            background-color: #fff!important;
            border-color: $red_font!important;
        }
    }
    &.red__btn{
        background-color: $red_section!important;
        .layout{
            position: absolute!important;
            top: 2px!important;
            right: 2px!important;
            left: 2px!important;
            bottom: 2px!important;
            background-color: $red_section!important;
            display: block!important;
            border-radius: 36px!important;
            z-index: 1!important;
        }
        &::before{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: #fff;
            top: 0;
            left: -130%;
            z-index: 2;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        &::after{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: #fff;
            top: 0;
            right: -130%;
            z-index: 2;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        .text{
            font-size: 18px;
            text-align: center;
            color: #fff;
            font-weight: 300;
            position: relative;
            z-index: 5;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &:hover::before{
            left: 10%;
        }
        &:hover::after{
            right: 10%;
        }
        &:hover .text{
            color: $red_font;
        }
    }
    &.wc-forward,
    &.simple__btn{
        background: transparent;
        border-color: #B2B2B2!important;
        color: #1C1C1C!important;
        &::before{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: #B2B2B2;
            top: 0;
            left: -130%;
            z-index: -1;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        &::after{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: #B2B2B2;
            top: 0;
            right: -130%;
            z-index: -1;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        &:hover{
            color: #fff!important;
        }
        &:hover::before{
            left: 10%!important;
        }
        &:hover::after{
            right: 10%!important;
        }
    }
    &.to__cart{
        height: 46px!important;
        background-color: #EBEBEB!important;
        border-radius: 38px!important;
        &.red{
            background-color: $red_section!important;
            .layout{
                background-color: $red_section!important;
            }
            .text{
                color: #fff;
            }
            .icon{
                background-image: url(../images/cart_red.svg);
            }
            &::before,
            &::after{
                background-color: #fff;
            }
        }
        .layout{
            position: absolute;
            top: 2px;
            right: 2px;
            left: 2px;
            bottom: 2px;
            background-color: #fff;
            display: block;
            border-radius: 36px;
            z-index: 1;
        }
        &::before{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: $red_section;
            top: 0;
            left: -130%;
            z-index: 2;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        &::after{
            content: '';
            width: 120%;
            height: 100%;
            display: block;
            position: absolute;
            background: $red_section;
            top: 0;
            right: -130%;
            z-index: 2;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: skewX(-30deg);
            transform: skewX(-30deg);
        }
        .text{
            font-size: 18px;
            text-align: center;
            color: $product_title;
            font-weight: 300;
            position: relative;
            z-index: 5;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .icon{
            display: block;
            width: 26px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            background-image: url(../images/cart_white.svg);
            z-index: 5;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &:hover::before{
            left: 10%;
        }
        &:hover::after{
            right: 10%;
        }
        &:hover .text{
            z-index: 1;
            opacity: 0;
            visibility: hidden;
        }
        &:hover .icon{
            opacity: 1;
            visibility: visible;
        }
    }
    &.focus,
    &:focus{
        box-shadow: none;
    }
}
.squared__btn{
    width: 100%;
    max-width: 150px;
    height: 45px;
    line-height: 43px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
    color: $grey_font;
    line-height: 16px;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover{
        background-color: $grey_font;
        color: #fff;
    }
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: $red_section;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(16,16,16,1);
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}
/*Preloader*/
body.admin-bar{
    .preloader__wrapper{
        top: 32px;
    }
}
.preloader__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .logo__line{
        width: 100%;
        height: 90px;
        text-align: center;
        position: absolute;
        top: 0;
        img{
            -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    &.load__done{
        -webkit-animation: hide 0.5s 1s 1 linear forwards;
        animation: hide 0.5s 1s 1 linear forwards;
        .logo__line{
            img{
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
    .block{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        .spin__loader {
            border: 4px solid #EBEBEB;
            border-top: 4px solid $red_font;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -35px 0 0 -35px;
        }
    }
}
@-webkit-keyframes eye {
    0% {
        -webkit-transform: rotate(0deg); 
    }
    100% {
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/*Main*/
main{
    width: 100%;
    float: left;
    min-height: 80vh;
}
/*Category banner*/
.categories__row{
    width: 100%;
    float: left;
    margin: 30px 0;
}
.category__banner{
    width: 100%;
    height: 230px;
    margin: 10px 0;
    background-image: url(../images/category_background.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
    display: block;
    h5{
        position: absolute;
        top: 18px;
        left: 29px;
        width: 50%;
        line-height: 30px;
        font-size: 26px;
        color: #1C1C1C;
    }
    .link{
        position: absolute;
        left: 29px;
        bottom: 31px;
        line-height: 16px;
        font-size: 18px;
        color: #1C1C1C;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &::before{
            content:'';
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            bottom: -5px;
            background-color: #8F8F8F;
            left: 0;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
    .image{
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
    }
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-height: 100%;
        padding: 10px;
    }

    &:hover{
        .link{
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            color: $red_font;
            &::before{
                background-color: $red_font;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .category__banner{
        height: 180px;
        h5{
            line-height: 24px;
            font-size: 22px;
        }
        .link{
            font-size: 14px;
        }
    }
}
/*Product section*/
.products__section{
    width: 100%;
    float: left;
    padding: 0 40px;
    margin: 40px 0;
}
h3.section__title{
    color: $section_title;
    margin-bottom: 5px;
    span{
        color: $red_font;
    }
}
@include media-breakpoint-down(sm){
    h3.section__title{
        line-height: 36px;
    }
    .products__section{
        padding: 0;
    }
}
/*Partner section*/
.partners__section{
    width: 100%;
    float: left;
    padding: 0 120px;
    margin: 30px 0;
    .partner__slider{
        margin: 30px 0;
        .banner__wrapper{
            width: 100%;
            padding: 0 15px;
            height: auto;
        }
        .banner{
            width: 100%;
            height: 160px;
            background-color: $grey_section;
            display: block;
            position: relative;
            outline: none;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}
@include media-breakpoint-down(lg){
    .partners__section{
        padding: 0 50px;
    }
}
@include media-breakpoint-down(sm){
    .partners__section{
        padding: 0 20px;
    }
}
@include media-breakpoint-down(xs){
    .partners__section{
        padding: 0px;
    }
}
/*Breadcrumbs*/
.breacrumbs{
    width: 100%;
    float: left;
    margin: 11px 0 0;
    padding: 0 40px;
    span{
        color: #000;
        line-height: 31px;
        font-size: 14px;
        &.separate{
            margin: 0 3px;
        }
        a{
            color: $grey_font;
            &:hover{
            }
            span{
                color: $grey_font;
                line-height: 31px;
                font-size: 14px;
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .breacrumbs{
        padding: 0;
    }
}
/*Contact page*/
.contact{
    width: 100%;
    min-height: 57px;
    float: left;
    margin: 30px 0;
    .icon__block{
        width: 38px;
        height: 41px;
        float: left;
        margin-right: 14px;
        text-align: right;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .text__block{
        float: left;
        .title{
            line-height: 20px;
            font-size: 18px;
            color: $grey_font;
            margin-bottom: 5px;
        }
        a,
        span{
            line-height: 24px;
            font-size: 22px;
            color: $product_title;
        }
    }
}
.contact__form{
    margin: 80px 0;
    form{
        padding-right: 80px;
    }
    input[type='submit']{
        margin-top: 15px;
        outline: none;
    }
}
.wpcf7-form-control-wrap{
    width: 100%;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 0;
    .wpcf7-not-valid-tip{
        width: 100%;
        float: left;
        padding-left: 10px;
        position:absolute;
        font-size: 11px;
        line-height: 12px;
        bottom: -15px;
        left: 0;
    }
}
.wpcf7-response-output{
    width: 100%;
    float: left;
    margin: 0!important;
    padding: 15px!important;
    font-size: 13px;
    border-width: 1px!important;
}
.field__group{
    width: 100%;
    float: left;
    margin: 10px 0;
    &.inline{
        width: 240px;
        .wpcf7-form-control-wrap{
            padding: 0 10px;
        }
        input{
           width: 100%;
        }
        &.submit{
            width: 192px;
            padding: 0 10px;
            input[type="submit"]{
                width: 152px;
                min-width: inherit;
                height: 44px;
                border: 1px solid #E2110B;
                border-radius: 22px;
                padding: 0 30px;
                line-height: 42px;
                background-color: #E2110B;
                font-size: 18px;
                font-weight: 300;
                color: #fff;
                text-align: center;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                &:hover{
                    background-color: #fff;
                    color: #E2110B;
                }
            }
        }
    }
    input{
        width: 100%;
        height: 46px;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0 19px;
        outline: none;
        color: $grey_font;
        font-size: 14px;
        line-height: normal;
    }
    textarea{
        width: 100%;
        height: 131px;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 5px;
        resize: none;
        padding: 12px 19px;
        outline: none;
        color: $grey_font;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 0px;
        &#other_delivery{
            height: 120px!important;
        }
    }
    &#other_delivery_field{
        width: 100%!important;
    }
}
.map__block{
    margin: 80px 0;
}
.map__wrapper{
    width: 100%;
    height: 385px;
    margin-top: 15px;
}
.addresses__block{
    display: none;
}
@include media-breakpoint-down(lg){
    .contact .text__block a,
    .contact .text__block span{
        font-size: 16px;
        line-height: 20px;
    }
    .contact .text__block .title{
        font-size: 16px;
    }
    .contact__form form{
        padding-right: 0;
    }
}
@include media-breakpoint-down(md){
    .contact{
        margin: 15px 0;
    }
    .contact__form, .map__block{
        margin: 30px 0;
    }
}
/*Payment & delivery page*/
.section__row{
    width: 100%;
    margin: 30px 0 80px;
}
.section__title{
    width: 100%;
    float: left;
    margin-bottom: 15px;
    .icon{
        width: 48px;
        height: 38px;
        display: block;
        text-align: left;
        margin-right: 14px;
        float: left;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    h4{
        display: block;
        float: left;
        color: $product_title;
    }
}
.delivery,
.payment{
    width: 100%;
    height: 205px;
    margin: 15px 0;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    position: relative;
    >img{
        padding: 10px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .text{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .icon{
            margin-bottom: 7px;
        }
        h6{
            line-height: 24px;
            font-size: 22px;
            color: $product_title;
            margin-bottom: 5px;
        }
        p{
            line-height: 18px;
            font-size: 16px;
            color: $product_title;
        }
    }
}
@include media-breakpoint-down(sm){
    .section__title h4{
        font-size: 26px;
    }
}
/*About us*/
.content{
    margin: 30px 0 0;
    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
    }
    h4{
        line-height: 36px;
    }
    p{
        line-height: 22px;
        font-size: 14px;
        color: $product_title;
        margin-bottom: 30px;
    }
    .image__row{
        margin: 0 -5px 50px;
    }
    img{
        width: 33%;
        display: inline-block;
        padding: 5px;
    }
}
.sidebar{
    width: 100%;
    background: #FBFBFB;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    margin: -42px 0 80px 0;
    padding: 45px 0;
    .benefit{
        padding: 55px 20px;
        img{
            margin-bottom: 12px;
        }
        h6{
            line-height: 24px;
            font-size: 22px;
            text-align: center;
            color: $product_title;
        }
    }
}
/*Partners*/
.partner__benefit{
    width: 100%;
    text-align: left;
    margin: 10px 0;
    .icon{
        width: 100%;
        height: 63px;
        margin-bottom: 20px;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    h6{
        line-height: 24px;
        font-size: 22px;
        color: $product_title;
    }
}
.partners__form{
    width: 100%;
    float: left;
    margin: 75px 0 60px;
    padding: 40px 96px 54px;
    border-top: 3px solid #E2110B;
    background: #F8F8F8;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    .title__row{
        h4{
            display: inline-block;
        }
        img{
            display: inline-block;
            margin-left: 12px;
            margin-top: -5px;
        }
    }
    div.wpcf7,
    form{
        width: 100%;
        float: left;
        button{
            margin: 10px 0 0 15px;
        }
        .wpcf7-response-output{
            margin-top: 20px!important;
            text-align: center;
        }
        span.wpcf7-not-valid-tip{
            padding-left: 15px;
        }
        input[type="submit"]{
            outline: none;
            &:focus{
                box-shadow: none!important;

            }
        }
    }
}
@include media-breakpoint-down(lg){
    .partners__form .field__group.inline{
        width: 100%;
        float: left;
        .wpcf7-form-control-wrap{
            padding: 0;
        }
        span.wpcf7-not-valid-tip{
            padding-left: 10px;
        }
        &.submit{
            padding: 0;
        }
    }
}
@include media-breakpoint-down(sm){
    .partners__form{
        padding: 25px 30px 40px;
    }
}
/*Woocemmerce*/
.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
    background-color: transparent;
    font-size: 14px;
    border-top: 2px solid #707070!important;
    padding: 15px 0 0 50px;
    margin-bottom: 50px;
    a{
        color: $red_font;
    }
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form.lost_reset_password{
    margin: 20px 0 20px;
    padding: 20px;
    border: 2px solid #EBEBEB;
    border-radius: 8px;
    input{
        width: 100%;
        height: 46px;
        border-radius: 5px;
        padding: 0 19px;
        border: 1px solid #EBEBEB;
        color: #707070;
        font-size: 14px;
        line-height: normal;
        outline: 0;
        box-sizing: border-box;
    }
    .remember__row{
        width: 100%;
        clear: both;
        margin: 15px 0 0;
        input[type="checkbox"]{
            width: auto;
            height: auto;
            margin: 7px 7px 0 0;
            float: left;
        }
        span{
            float: left;
        }
    }
    .lost_password{
        margin-bottom: 0;
        a{
            font-size: 14px;
            &:hover{
                color: $grey_font;
            }
        }
    }
}
.woocommerce-MyAccount-navigation{
    width: 100%;
    float: left!important;
    margin: 20px 0 50px;
    ul{
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            width: 100%;
            float: left;
            margin: 0;
            &.woocommerce-MyAccount-navigation-link--downloads,
            &.woocommerce-MyAccount-navigation-link--edit-address{
                display: none;
            }
            &.is-active{
                a{
                    color: $red_font;
                }
            }
            a{
                width: 100%;
                float: left;
                display: block;
                padding: 5px 0;
                color: $grey_font;
                &:hover{
                    text-decoration: none;
                    color: $red_font;
                }
            }
        }
    }
}
.woocommerce form.edit-account,
.woocommerce form.lost_reset_password{
    margin: 20px 0 20px;
    padding: 20px;
    border: 2px solid #EBEBEB;
    border-radius: 8px;
    input{
        height: 46px;
        border-radius: 5px;
        padding: 0 19px;
        border: 1px solid #EBEBEB;
        color: #707070;
        font-size: 14px;
        line-height: normal;
        outline: 0;
        box-sizing: border-box;
    }
}
.woocommerce-MyAccount-content{
    .woocommerce-info::before{
        top: 20px;
    }
    .woocommerce-message{
        .text{
            font-size: 16px;
            float: left;
            margin-top: 5px;
        }
    }
}
.woocommerce table.my_account_orders .button{
    font-size: 14px!important;
    color: $red_font;
    padding: 0!important;
}
.woocommerce .woocommerce-customer-details address{
    padding: 20px;
}
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone{
    font-size: 14px;
    &::before{
        margin-top: 0px;
    }
}