header{
    width: 100%;
    height: 125px;
}
.top__navigation{
    width: 100%;
    height: 55px;
    background-color: $grey_section;
}
.mobile__menu{
    width: 31px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
    span{
        width: 31px;
        height: 2px;
        display: block;
        background-color: $grey_font;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1){
            top: 3px;
        }
        &:nth-child(2){
            top: 13px;
        }
        &:nth-child(3){
            top: 23px;
        }
    }
    &.show__menu{
        span{
            &:nth-child(1){
                width: 0;
            }
            &:nth-child(2){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
            }
            &:nth-child(3){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(225deg);
                transform: translateX(-50%) rotate(225deg);
            }
        }
    }
}
.mobile__navigation{
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 90;
    border-top: 1px solid #EDEDED;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    &.show__navigation{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu__wrapper{
        position: absolute;
        padding: 0 15px;
        float: left;
        overflow: auto;
        top: 30px;
        bottom: 75px;
        right: 15px;
    }
    .category__menu {
        height: auto;
        li{
            width: 100%;
            float: left;
            display: block;
            a{
                font-size: 16px;
                padding: 3px 0;
            }
        }
    }
    .additional__menu{
        margin-left: 0;
        margin-top: 20px;
        li{
            width: 100%;
            a{
                padding: 1px 0;
            }
        }
    }
    .login__block {
        margin: 0 0 15px;
        a{
            padding: 5px 0;
            &:hover{
                background-color: transparent;
                color: $red_font;
            }
        }
    }
    .additional__bar{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding: 15px;
        left: 0;
        border-top: 1px solid #EDEDED;
    }
    .switcher{
        width: auto;
        height: auto;
        background-color: transparent;
        ul{
            width: auto;
            position: static;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            li{
                width: auto;
                height: auto;
                display: block;
                background-color: transparent;
                &.active{
                    a{
                        color: $red_font;
                    }
                }
                a{
                    padding: 5px 8px;
                    line-height: normal;
                    text-transform: uppercase;
                    img{
                        display: none;
                    }
                }
            }
        }
    }
    .currency{
        float: left;
    }
    .language{
        float: right;
    }
}
.additional__menu{
    float: left;
    margin-left: -15px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li{
        float: left;
        &.current-menu-item{
            a{
                color: $black_font;
            }
        }
        a{
            float: left;
            padding: 15.5px 15px;
            line-height: 24px;
            font-size: 14px;
            color: $grey_font;
            &:hover{
                color: $black_font;
            }
        }
    }
}
.category__menu{
    width: 100%;
    height: 70px;
    float: left;
    text-align: center;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li{
        display: inline-block;
        a{
            line-height: normal;
            font-size: 18px;
            color: $black_font;
            float: left;
            padding: 22px 10px;
            &:hover{
                text-decoration: none;
                color: $red_font;
            }
        }
    }
}
.logo__block{
    width: 126px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -63px;
}
.information__block{
    float: right;
}
.switcher{
    float: left;
    position: relative;
    cursor: pointer;
    background-color: #EDEDED;
    height: 55px;
    .current{
        padding: 14px 15px 17px;
        span{
            border-bottom: 1px dashed $grey_font;
            line-height: 20px;
            color: $grey_font;
            font-size: 14px;
            text-transform: capitalize;
        }
        img{
            margin-right: 2px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
        }
    }
    &.currency{
        .current{
            padding: 14px 10px 17px 15px;
        }
    }
    &.language{
        .current{
            padding: 14px 15px 17px 10px;
        }
    }
    ul{
        width: 100%;
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 100%;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 100;
        li{
            width: 100%;
            height: 35px;
            background-color: #EDEDED;
            float: left;
            text-align: center;
            a{
                line-height: 35px;
                color: $grey_font;
                font-size: 14px;
                display: block;
                width: 100%;
                text-transform: capitalize;
                &:hover{
                    background-color: #d4d4d4;
                    text-decoration: none;
                }
            }
            img{
                margin-right: 5px;
                margin-top: -2px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
            }
        }
    }
    &:hover ul{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}
.login__block{
    float: left;
    a{
        color: $grey_font;
        font-size: 14px;
        display: block;
        padding: 17px 20px 17px 20px;
        &:hover{
            background-color: #EDEDED;
            text-decoration: none;
        }
        img{
            margin-right: 3px;
        }
    }
}
.cart__block{
    float: left;
    position: relative;
    &:hover .cart__dropdown{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .cart__btn{
        color: $black_font;
        font-size: 14px;
        display: block;
        padding: 15.5px 20px;
        cursor: pointer;
        &:hover{
            background-color: #EDEDED;
            text-decoration: none;
        }
        img{
            margin-right: 9px;
        }
    }
    .cart__dropdown{
        width: 330px;
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
        position: absolute;
        top: 100%;
        right: 0;
        padding-bottom: 40px;
        z-index: 10;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        border-top: 2px solid $red_font;
        &::before{
            content: '';
            width: 14px;
            height: 12px;
            display: block;
            position: absolute;
            background-image: url(../images/cart_arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            top: -10px;
            right: 53px;
        }
        ul{
            width: 100%;
            float: left;
            padding: 20px 25px;
            margin: 0;
            list-style: none;
            background-color: #fff;
            li{
                width: 100%;
                float: left;
                padding: 13px 0;
                .product__name{
                    width: 145px;
                    float: left;
                    h6{
                        line-height: 14px;
                        font-size: 14px;
                        color: #707070;
                        margin-bottom: 0;
                    }
                    &.empty{
                        width: 100%;
                        text-align: center;
                    }
                }
                .product__amount,
                .product__price{
                    float: left;
                    margin-left: 20px;
                    font-size: 14px;
                    text-align: right;
                    color: #1C1C1C;
                }
            }
        }

        .go__to__cart{
            width: 100%;
            height: 40px;
            background-color: $red_font;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            line-height: 40px;
            font-size: 14px;
            text-align: center;
            padding: 0;
            &:hover{
                background-color: #b90601;
                text-decoration: none;
            }
        }
    }
}
@include media-breakpoint-down(md){
    header{
        height: 55px;
        box-shadow: 0px 1px 4px #dfdfdf;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .top__navigation{
        background-color: #fff;
        position: relative;
        z-index: 100;
    }
    .cart__block{
        background-color: #EDEDED;
        a{
            padding: 15.5px 12px;
            img{
                margin-right: 4px;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .cart__block{
        background-color: #EDEDED;
        a{
            padding: 15.5px 17px;
            span{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 375px){
    .cart__block .cart__btn{
        img{
            margin-right: 0;
        }
        span{
            display: none;
        }
    }
}