.slider__section{
    width: 100%;
    height: 650px;
    float: left;
    background-color: $grey_section;
    margin-bottom: 40px;
}
.slide{
    outline: none;
    height: auto;
}
.main__slider{
    .slide{
        position: relative;
        .image__block{
            width: 47%;
            height: 100%;
            position: absolute;
            bottom: 0;
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: all 0.8s ease;
            transition: all 0.8s ease;
            opacity: 0;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .circle{
                width: 500px;
                height: 500px;
                display: block;
                background-size: cover;
                background-position: center;
                background-image: url(../images/circle.png);
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                z-index: -2;
            }
            .price__circle{
                width: 176px;
                height: 176px;
                background: #E2110B;
                box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
                position: absolute;
                border-radius: 50%;
                top: 125px;
                left: -10px;
                z-index: -1;
                font-size: 34px;
                font-weight: 700;
                text-align: center;
                color: #FFFFFF;
                text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
                line-height: 176px;
                
            }
        }
        .text__block{
            width: 50%;
            position: absolute;
            right: 0;
            top: 146px;
            -webkit-transform: translateY(120px);
            transform: translateY(120px);
            -webkit-transition: all 0.8s ease;
            transition: all 0.8s ease;
            opacity: 0;
            h4{
                line-height: 40px;
                font-size: 30px;
                color: #1C1C1C;
                font-weight: 300;
                margin-bottom: 0;
            }
            h3{
                line-height: 46px;
                font-size: 40px;
                color: #000000;
                font-weight: 700;
            }
        }
        &.slick-active{
            .text__block{
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                opacity: 1;
            }
            .image__block{
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    .slide__content{
        width: 100%;
        height: 650px;
        position: relative;
    }
    .slick-dots{
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        position: absolute;
        bottom: 42px;
        left: 0;
        li{
            display: inline-block;
            margin: 0 5px;
            button{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: block;
                color: transparent;
                font-size: 0px;
                background-color: #D1D1D1;
                padding: 0;
                border: none;
                cursor: pointer;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: #EA0D27;
                }
            }
        }
    }
}
.link__row{
    margin: 20px -10px 0;
    a{
        margin: 10px;
    }
}
@include media-breakpoint-down(lg){
    .slider__section{
        height: 550px;
    }
    .main__slider {
        .slide__content{
            height:550px;
        }
        .slide {
            .image__block {
                .price__circle{
                    top: 80px;
                    left: 0px;
                    width: 120px;
                    height: 120px;
                    line-height: 120px;
                    font-size: 22px;
                }
                .circle{
                    width: 400px;
                    height: 400px;
                }
            }
            .text__block{
                top: 150px;
            }
        }
    }
}
@include media-breakpoint-down(md){
    main{
        padding-top: 55px;
    }
    .slider__section{
        height: 450px;
    }
    .main__slider {
        .slide__content{
            height: 450px;
        }
        .slide {
            .image__block {
                .price__circle{
                    top: 40px;
                    left: -15px;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    font-size: 20px;
                }
                .circle{
                    width: 300px;
                    height: 300px;
                }
            }
            .text__block{
                top: 100px;
                h4{
                    font-size: 26px;
                    line-height: 32px;
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .slider__section{
        height: 500px;
        margin-bottom: 0;
    }
    .main__slider {
        .slide__content{
            height: 500px;
        }
        .slide {
            .image__block {
                width: 100%;
                height: 300px;
                top: 10px;
                bottom: auto;
                img{
                    margin: auto;
                    max-height: 280px;
                }
                .price__circle{
                    top: 20px;
                    left: 50%;
                    width: 80px;
                    height: 80px;
                    margin-left: -120px;
                    line-height: 80px;
                    font-size: 18px;
                }
                .circle{
                    width: 250px;
                    height: 250px;
                }
            }
            .text__block{
                width: 100%;
                top: 310px;
                text-align: center;
                h4{
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 5px;
                }
                h3{
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
        .slick-dots{
            bottom: 20px;
        }
    }
    .link__row a{
        line-height: 32px;
        padding: 0 15px;
        font-size: 16px!important;
        margin: 0 5px;
        .text{
            font-size: 16px!important;
        }
    }
}
@media screen and (max-width:375px){
    .link__row a, .link__row a .text{
        font-size: 14px!important;
        &.btn{
            padding: 0 25px!important;
        }
    }
}