.product__block{
    width: 100%;
    min-height: 485px;
    margin: 30px 0;
    float: left;
    padding: 20px 39px 31px;
    text-align: center;
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
        border-color: $red_font;
    }
    a{
        display: block;
    }
    .thumbnail{
        width: 100%;
        height: 350px;
        position: relative;
        margin-bottom: 14px;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: auto;
            max-height: 100%;
        }
    }
    .product__description{
        width: 100%;
        min-height: 70px;
        position: relative;
        .title__row{
            width: 100%;
        }
    }
    h5{
        text-align: center;
        color: $product_title;
        font-weight: 300;
        margin-bottom: 2px;
        overflow: hidden;
        span{
            color: $grey_font;
        }
    }
    .price__row{
        text-align: center;
    }
    .price{
        line-height: normal;
        font-size: 22px!important;
        color: $product_title!important;
        margin: 0 6px;
        &.old__price{
            color: $grey_font;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 15px;
                background-color: $grey_font;
            }
        }
        del{
            text-decoration: none;
            opacity: 1!important;
            margin: 0 5px;
            .amount{
                color: $grey_font!important;
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 15px;
                    background-color: $grey_font;
                }
            }
        }
        ins{
            margin: 0 5px;
            text-decoration: none;
            line-height: normal;
            font-size: 22px;
            font-weight: 400!important;
            color: #1C1C1C;
            margin: 0 6px;
        }
    }
    .buy__row{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -23px;
        &::before,
        &::after{
            content:'';
            display: block;
            width: 20px;
            height: 46px;
            background-color: #fff;
            position: absolute;
            top: 0;
        }
        &::before{
            left: -19px;
        }
        &::after{
            right: -19px;
        }
    }
}
.ribbon{
    padding: 0 17px 0 10px;
    height: 33px;
    line-height: 33px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 22px;
    right: -8px;
    &::before{
        content: '';
        position: absolute;
        border-width: 16.5px 0 16.5px 11px;
        border-style: solid;
        width: 0;
        height: 0;
        top: 0;
        left: -10px;
    }
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -5px;
        right: 0;
        border-width: 5px 0 0 7px;
        border-style: solid;
    }
    &.special{
        background-color: #E2110B;
        &::before{
            border-color: #E2110B transparent;
        }
        &::after{
            border-color: transparent #AD071B;
        }
    }
    &.new{
        background-color: #27AE60;
        &::before{
            border-color: #27AE60 transparent;
        }
        &::after{
            border-color: transparent #1F7A45;
        }
    }
}
@media screen and (max-width:1700px){
    .product__block .product__description{
        min-height: 100px;
    }
    .product__block .thumbnail{
        height: 300px;
        margin-bottom: 20px;
    }
    .product__block h5{
        font-size: 20px;
    }
    .product__block .price{
        font-size: 20px;
    }
}
@media screen and (max-width:1400px){
    .product__block{
        height: 430px;
        padding: 20px 20px 31px;
    }
    .product__block .thumbnail{
        height: 250px;
    }
    .product__block h5{
        line-height: 22px;
        margin-bottom: 5px;
    }
    .product__block .price{
        font-size: 18px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .product__hide{
        display: none;
    }
}
@include media-breakpoint-down(xs){
    .product__block {
        height: 380px;
        .thumbnail{
            height: 200px;
            margin-bottom: 10px;
        }
        h5{
            font-size: 18px;
        }
    }
}